.jumbotron {
  background-color: #054528;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 10px 10px;
  background-color: #054528;
  margin-top: 5px;
  margin-bottom: 1px;
  bottom: 0; }

.card-hotel {
  flex: 1 200px; }

.boton_oficial {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5px; }

.imagen_principal {
  width: 100%;
  height: 300px; }
