$green:#054528;
$red:#a30016;
$yellow:#bfd611;

@mixin margenes($top,$bottom){
margin-top : $top;
margin-bottom : $bottom;
}



.jumbotron {
	background-color: $green;
	color: black; 
	@include margenes(50px,0px);


}

footer{
	padding: 10px 10px 10px 10px;
	background-color: $green;
	@include margenes(5px,1px);
	bottom: 0;
    
}
.card-hotel{
	flex: 1 200px;
	
}

.boton_oficial{
	width: 100%;
	@include margenes (0px,5px);
}

.imagen_principal{
width: 100%;
height: 300px;
}